.idea
.venv
.env
command.wav
uv.lock
recording.wav
test_audio/*
tts_outputs/*
memory/__pycache__
robots/__pycache__
stt/__pycache__
tools/__pycache__
tts/__pycache__
config.yaml
*.ipynb
stt/vosk-model-small-en-us-0.15
chroma_db
__pycache__
tts/your_ref.wav
tree_view.py
.devcontainer
tree-view.py
